.clueBody {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;

  border: 1px solid #ccc; /* Optional border */
  padding: 10px; /* Optional padding */
  border-radius: 8px; /* Optional rounded corners */
}

.locked {
  background-color: #ff5555;
}

.children {
  margin-left: 20px;
}
